@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 4vw;
  background-color: black;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.grad {
  background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* selected link */
a:active {
  background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #222;
  border-radius: 4px;
  font-size: 16px;
  background-color: #111;
  padding: 12px 20px 12px 20px;
  color: whitesmoke;
}

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

p {
  font-size: 12px;
}

h4 {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 24px;
}