@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.navbar {
    width: 100%;
    background-color: white;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: #FFC100;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ffa600;
  }
  
  .active {
    background-color: white;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }